<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::div})">
<head>
<title>Add Category</title>
</head>

<body>

	<div class="container my-5">
		<h3 class="text-center mb-4">Add Book Category</h3>

		<!-- Form to add new book category -->
		<form th:action="@{/addcategory}" method="post">
			<div class="form-group">
				<label for="name">Category Name</label> <input type="text" id="name"
					name="name" class="form-control" placeholder="Enter Category Name"
					required>
			</div>

			<div class="text-center mt-3">
				<button type="submit" class="btn btn-primary">Add Category</button>
			</div>
		</form>

		<!-- Success message -->
		<div th:if="${message != null}" class="alert alert-success mt-3"
			role="alert">
			<span th:text="${message}"></span>
		</div>

	</div>

</body>


</html>
