<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::div})">
<head>
<title>Admin Register</title>
</head>

<body>
	<div class="container-fluid">
		<div class="row mt-2">
			<div class="col-md-4 offset-md-4 admin">
				<div class="card">
			

					<div class="card-body px-5">
						<h3 class="text-center my-3">Register Admin</h3>

						<form action="#" th:action="@{/adminregister}" method="post">
							<div class="form-group">
								<label for="userId">User Id</label> <input type="text"
									class="form-control" id="userId" name="userId"
									placeholder="Enter user id.." required>
							</div>

							<div class="form-group">
								<label for="password">Password</label> <input type="password"
									class="form-control" id="password" name="password"
									placeholder="Enter password.." required> <small
									id="passwordHelpInline" class="text-muted"> Must be
									8-20 characters long. </small>
							</div>

							<div class="container text-center">
								<button class="btn custom-bg text-color">
									<button class="login-btn">Register</button>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>


</html>
